.wrapper {
  width: 760px;
  max-width: 60%;
  margin: 0 auto; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

.clearfix::before {
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  font-family: sans-serif; }

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }

.banner {
  position: relative;
  z-index: 100;
  height: 100%; }
  .banner video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150; }
  .banner .overlay {
    background: url(../images/initial_banner_bg.jpg);
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150;
    filter: blur(15px); }
  .banner a {
    text-decoration: none;
    color: #fff; }
  .banner .top_header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
    .banner .top_header nav {
      float: right; }
      .banner .top_header nav div {
        float: left;
        margin: 1.3em .5em 0 0.6em;
        border: 2px solid #fff;
        padding: 8px;
        border-radius: .5em; }
        .banner .top_header nav div:hover {
          background-color: #000; }
      .banner .top_header nav ul {
        margin: 1.3em 1.5em 0 0; }
        .banner .top_header nav ul .active {
          border: 2px solid #fff;
          padding: 8px;
          border-radius: .5em; }
          .banner .top_header nav ul .active img {
            float: left;
            width: 18px;
            margin-right: 0.3em; }
          .banner .top_header nav ul .active:hover {
            background-color: #000; }
        .banner .top_header nav ul li:not(.active) > a {
          float: right;
          text-transform: uppercase;
          font-size: .7em;
          color: #fff; }
          .banner .top_header nav ul li:not(.active) > a:hover {
            color: #565151; }
  .banner .intro {
    text-align: center;
    position: absolute;
    top: 18%;
    right: 0;
    left: 0;
    bottom: 0; }
    .banner .intro h1 {
      font-size: 2.5em;
      font-weight: 500;
      color: #fff; }
      .banner .intro h1 img {
        width: 550px;
        min-width: 23%;
        max-width: 80%;
        margin-top: .3em; }
    .banner .intro p {
      font-size: 2.5em;
      font-weight: 500;
      margin-top: -.4em;
      color: #fff; }
    .banner .intro .download_button img {
      width: 165px; }
    .banner .intro .download_button a.first_child {
      margin-right: .5em; }
    .banner .intro .download_button a.second_child {
      margin-left: .5em; }
    .banner .intro .down {
      font-size: 2em;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 1.5em; }

.footer {
  display: flex;
  text-align: center;
  padding: 1.5em 0; }
  .footer .footer_column {
    width: 20%; }
    .footer .footer_column h3 {
      font-size: .85em;
      text-transform: uppercase;
      color: #ff7c7c; }
    .footer .footer_column ul li a {
      display: inline-block;
      text-decoration: none;
      margin-bottom: .6em;
      color: #565151; }
      .footer .footer_column ul li a:hover {
        color: #ff7c7c; }

@keyframes bounce {
  0%, 20%, 60%,100% {
    transform: translateY(0); }
  40%,43% {
    transform: translateY(-30px); }
  75% {
    transform: translateY(-20px); } }
.bounce {
  animation: bounce 2s infinite; }

/*# sourceMappingURL=styles.css.map */
